/main.exe
/*.o
/frames1/*.pgm
/frames1/*.jpg
/frames1/*.ppm
/frames2/*.pgm
/frames2/*.jpg
/frames2/*.ppm
/imgs/*.pgm
/imgs/*.jpg
/imgs/*.ppm
/imgs/testsResults/*.pgm
/imgs/testsResults/*.txt
/imgs/testsResults/*.pci
/imgs/testsResults/*.jpg
/imgs/testsResults/*.ppm

